<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MBANK</title>
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main.css' %}">
  </head>
  <body>
    
    <!-- NAVIGATION -->
     <div class="container-fluid">
        <div class="row">
            <div class="col-4" style="display: flex;">
                <a href="{% url "homepage" %}">
                    <img src="{% static 'images/Logo.svg' %}" alt="">
                </a>
                <p style="padding-left:15px">ОАО «Коммерческий банк КЫРГЫЗСТАН»</p>
            </div>
            <div class="col-1">
                <a href="" class="menuLink">
                    <p>Физ. <br> лицам</p>
                </a>
            </div>
            <div class="col-1">
                <a href="" class="menuLink">
                    <p>Юр. <br> лицам</p>
                </a>
            </div>
            <div class="col-2">
                <a href="" class="menuLink">
                    <p>Исламские <br> Финансы</p>
                </a>
            </div>
            <div class="col-2">
                <a href="" class="menuLink">
                    <p>Офисы и<br> банкоматы</p>
                </a>
            </div>
            <div class="col-2">
                <a href="" class="menuLink">
                    <p>Русский</p>
                </a>
            </div>
        </div>
     </div>
    <!-- NAVIGATION -->
    <!-- Menu -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Карты
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Срочный</a></li>
                  <li><a class="dropdown-item" href="#">Накопительный</a></li>
                  <li><a class="dropdown-item" href="#"> Онлайн </a></li> 
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url "installmentPage" %}">Рассрочка</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Депозиты
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Срочный</a></li>
                  <li><a class="dropdown-item" href="#">Накопительный</a></li>
                  <li><a class="dropdown-item" href="#"> Онлайн </a></li> 
                </ul>
              </li> 
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Кредиты
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Онлайн кредит</a></li>
                  <li><a class="dropdown-item" href="#">Бизнес кредит</a></li> 
                </ul>
              </li>
               
              <li class="nav-item">
                <a class="nav-link" href="#">MBANK Junior</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">MBANK</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">MBusiness
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url "mkassaPage" %}">MKassa
                </a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Я ищу" aria-label=""> 
            </form>
          </div>
        </div>
      </nav>
    <!-- Menu -->


{% block content %}

{% endblock content %}



    <!-- footer -->
   <div class="container inputSearch">
    <div class="row">
      <div class="col-6 mb-5">
        <h2>Поиск по сайту</h2>
        <input type="text" placeholder="Я ищу">
        <button type="submit">Найти</button>
      </div>
      <div class="col-6"></div>
      <!-- col -->
      <div class="col-3">
        <ul>
          <li><a href="#">Частным клиентам</a></li>
          <li><a href="#">Платежные карты</a></li>
        </ul>
      </div>
      <div class="col-3">
        <ul>
          <li><a href="#">Юридическим лицам</a></li>
          <li><a href="#">Депозиты</a></li>
        </ul>
      </div>
      <div class="col-3">
        <ul>
          <li><a href="#">О банке</a></li>
          <li><a href="#">Руководство</a></li>
        </ul>
      </div>
      <div class="col-3">
        <ul>
          <li><a href="#">Информация</a></li>
          <li><a href="#">Документы</a></li>
        </ul>
      </div>
    </div>
    <div class="row mt-5 backgIMages">
      <div class="col-6">
        <img src="images/frame.webp" width="300px" alt="">
      </div>
      <div class="col-6">
        <img src="images/log1.webp" width="200px" alt="">
        <ul>
          <li>
            <a  target="_blank" href="https://play.google.com/store/apps/details?id=com.maanavan.mb_kyrgyzstan&hl=ru">
              <img src="images/googlePlay.png" width="150px" style="border-radius: 15px;" alt="">
            </a>
          </li>
          <li style="padding-left: 10px;">
            <a target="_blank" href="https://apps.apple.com/ru/app/mbank-%D0%B1%D0%B0%D0%BD%D0%BA-%D0%B2-%D1%82%D0%B5%D0%BB%D0%B5%D1%84%D0%BE%D0%BD%D0%B5/id922922121">
              <img src="images/appstore.png" width="150px" style="border-radius: 15px;" alt="">
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!--  -->
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <p class="mt-5 text-secondary">ОАО «Коммерческий банк КЫРГЫЗСТАН». © 2006-2024, Лицензия №014 НБ КР</p>
    </div>
   </div>
  <!-- footer -->

    <script src="{% static 'bootstrap.bundle.min.js' %}"></script>
  </body>
</html>