{% extends "base.html" %}

{% block content %}

<div class="container-fluid"  style="background-color: #EDEEF0;">
    <div class="row">
        <div class="col-6">
            <div class="row" style="padding-top: 100px; padding-left: 150px; ">
                <h2 style="font-weight: bold; margin-bottom: 30px;">Рассрочка</h2>
                <div class="col-6">
                    <span style="border-radius: 18px; border: 1px solid #fff; padding: 20px; background-color: #fff;">
                        <img width="30px"   src="https://freepngimg.com/thumb/money/70896-icons-money-bill-dollar-computer-bank-stock.png" alt="">
                    </span>
                    
                    <p class="mt-4">Сумма рассрочки</p>
                    <p>до 250 000 с</p>
                </div>
                <div class="col-6">
                    <span style="border-radius: 18px; border: 1px solid #fff; padding: 20px; background-color: #fff;">
                        <img width="30px"   src="https://freepngimg.com/thumb/money/70896-icons-money-bill-dollar-computer-bank-stock.png" alt="">
                    </span>
                    
                    <p class="mt-4">Сумма рассрочки</p>
                    <p>до 250 000 с</p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <img width="500px" src="https://mbank.kg/_next/image?url=https%3A%2F%2Fmbank.kg%2Fmedia%2Frassrochka%2Fbanners%2F%25D0%25A0%25D0%25B0%25D1%2581%25D1%2581%25D1%2580%25D0%25BE%25D1%2587%25D0%25BA%25D0%25B0_%25D0%25B1%25D0%25B0%25D0%25BD%25D0%25BD%25D0%25B5%25D1%2580_%25D0%25BD%25D0%25B0_%25D1%2581%25D0%25B0%25D0%25B9%25D1%2582-04.png&w=1200&q=75" alt="">
        </div>
    </div>
</div>

<div class="container mt-5 p-5" style="background-color: #F7F7F8;">
    <div class="row">
        <div class="col-9">
            <h1>Информация:</h1>
            <p>
                Рассрочка предлагается при оплате товаров в магазине и напоминает кредит: покупка оплачивается за счет банковских средств, а их возврат производится не единым платежом, а равными частями. Главное отличие рассрочки от кредита в том, что клиент в итоге выплачивает сумму, равную точной стоимости товара. То есть не начисляется никаких процентов.
            </p>
        </div>
        <div class="col-3">
            <img src="https://mbank.kg/_next/static/media/largeInformation.6d566f6f.svg" alt="">
        </div>
    </div>
</div>

<!-- block category -->
<div class="container mt-5">
    <div class="row">
        <h3>Выберите категорию</h3>
        <!--  -->
        <div class="col-2">
            <div class="card text-center" style="height: 160px;">
                <p>Все</p>
                <span>партнеры</span> 
            </div>
        </div>
        <!--  -->
        {% for cat in categories %}
        <div class="col-2">
            <div class="card text-center" style="height: 160px; background-color: #F7F7F8;">
                <p>{{cat.title}}</p>
                <span>partners</span>
                <img style="padding-left: 40px; margin-top: 10px;" width="100px" src="{{cat.img}}" alt="">
            </div>
        </div>
        {% endfor %}
        <!--  -->
    </div>
</div>
<!-- block category -->

{% endblock content %}

